@font-face {
  font-family: '3dsweb';
  src: url('../fonts/v2/3ds-v2.eot');
  src: url('../fonts/v2/3ds-v2.eot?#iefix') format('embedded-opentype'), url('../fonts/v2/3ds-v2.woff') format('woff'), url('../fonts/v2/3ds-v2.ttf') format('truetype'), url('../fonts/v2/3ds-v2.svg#3dsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '3dsweblight';
  src: url('../fonts/v2/3ds-Light-v2.eot');
  src: url('../fonts/v2/3ds-Light-v2.eot?#iefix') format('embedded-opentype'), url('../fonts/v2/3ds-Light-v2.woff') format('woff'), url('../fonts/v2/3ds-Light-v2.ttf') format('truetype'), url('../fonts/v2/3ds-Light-v2.svg#3dslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '3ds';
  src: url('../fonts/v2/3ds-v2.eot');
  src: url('../fonts/v2/3ds-v2.eot?#iefix') format('embedded-opentype'), url('../fonts/v2/3ds-v2.woff') format('woff'), url('../fonts/v2/3ds-v2.ttf') format('truetype'), url('../fonts/v2/3ds-v2.svg#3dsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '3dsitalic';
  src: url('../fonts/v2/3ds-Italic-v2.eot');
  src: url('../fonts/v2/3ds-Italic-v2.eot?#iefix') format('embedded-opentype'), url('../fonts/v2/3ds-Italic-v2.woff') format('woff'), url('../fonts/v2/3ds-Italic-v2.ttf') format('truetype'), url('../fonts/v2/3ds-Italic-v2.svg#3dsitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: '3dssemi';
  src: url('../fonts/v2/3ds-SemiBold-v2.eot');
  src: url('../fonts/v2/3ds-SemiBold-v2.eot?#iefix') format('embedded-opentype'), url('../fonts/v2/3ds-SemiBold-v2.woff') format('woff'), url('../fonts/v2/3ds-SemiBold-v2.ttf') format('truetype'), url('../fonts/v2/3ds-SemiBold-v2.svg#3dssemibold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: '3dssemiitalic';
  src: url('../fonts/v2/3ds-SemiBoldItalic-v2.eot');
  src: url('../fonts/v2/3ds-SemiBoldItalic-v2.eot?#iefix') format('embedded-opentype'), url('../fonts/v2/3ds-SemiBoldItalic-v2.woff') format('woff'), url('../fonts/v2/3ds-SemiBoldItalic-v2.ttf') format('truetype'), url('../fonts/v2/3ds-SemiBoldItalic-v2.svg#3dssemibold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: '3dsbold';
  src: url('../fonts/v2/3ds-Bold-v2.eot');
  src: url('../fonts/v2/3ds-Bold-v2.eot?#iefix') format('embedded-opentype'), url('../fonts/v2/3ds-Bold-v2.woff') format('woff'), url('../fonts/v2/3ds-Bold-v2.ttf') format('truetype'), url('../fonts/v2/3ds-Bold-v2.svg#3dsbold') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: '3dsbolditalic';
  src: url('../fonts/v2/3ds-BoldItalic-v2.eot');
  src: url('../fonts/v2/3ds-BoldItalic-v2.eot?#iefix') format('embedded-opentype'), url('../fonts/v2/3ds-BoldItalic-v2.woff') format('woff'), url('../fonts/v2/3ds-BoldItalic-v2.ttf') format('truetype'), url('../fonts/v2/3ds-BoldItalic-v2.svg#3dsbold_italic') format('svg');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: '3dsextralight';
  src: url('../fonts/v2/3ds-ExtraLight-v2.eot');
  src: url('../fonts/v2/3ds-ExtraLight-v2.eot?#iefix') format('embedded-opentype'), url('../fonts/v2/3ds-ExtraLight-v2.woff') format('woff'), url('../fonts/v2/3ds-ExtraLight-v2.ttf') format('truetype'), url('../fonts/v2/3ds-ExtraLight-v2.svg#3dsextralight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: '3dsextralightitalic';
  src: url('../fonts/v2/3ds-ExtraLightItalic-v2t.eot');
  src: url('../fonts/v2/3ds-ExtraLightItalic-v2t.eot?#iefix') format('embedded-opentype'), url('../fonts/v2/3ds-ExtraLightItalic-v2t.woff') format('woff'), url('../fonts/v2/3ds-ExtraLightItalic-v2t.ttf') format('truetype'), url('../fonts/v2/3ds-ExtraLightItalic-v2t.svg#3dsextralight_italic') format('svg');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: '3dscondensedregular';
  src: url('../fonts/v2/3ds-Condensed-v2.eot');
  src: url('../fonts/v2/3ds-Condensed-v2.eot?#iefix') format('embedded-opentype'), url('../fonts/v2/3ds-Condensed-v2.woff') format('woff'), url('../fonts/v2/3ds-Condensed-v2.ttf') format('truetype'), url('../fonts/v2/3ds-Condensed-v2.svg#3dscondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '3dscondensedbold';
  src: url('../fonts/v2/3ds-CondensedBold-v2.eot');
  src: url('../fonts/v2/3ds-CondensedBold-v2.eot?#iefix') format('embedded-opentype'), url('../fonts/v2/3ds-CondensedBold-v2.woff') format('woff'), url('../fonts/v2/3ds-CondensedBold-v2.ttf') format('truetype'), url('../fonts/v2/3ds-CondensedBold-v2.svg#3dscondensed_bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: '3dscondensedlight';
  src: url('../fonts/v2/3ds-CondensedLight-v2.eot');
  src: url('../fonts/v2/3ds-CondensedLight-v2.eot?#iefix') format('embedded-opentype'), url('../fonts/v2/3ds-CondensedLight-v2.woff') format('woff'), url('../fonts/v2/3ds-CondensedLight-v2.ttf') format('truetype'), url('../fonts/v2/3ds-CondensedLight-v2.svg#3dscondensed_light') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: '3dslight';
  src: url('../fonts/v2/3ds-Light-v2.eot');
  src: url('../fonts/v2/3ds-Light-v2.eot?#iefix') format('embedded-opentype'), url('../fonts/v2/3ds-Light-v2.woff') format('woff'), url('../fonts/v2/3ds-Light-v2.ttf') format('truetype'), url('../fonts/v2/3ds-Light-v2.svg#3dslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: '3dsweb', Helvetica, Arial, sans-serif;
}